
*{
    padding: 0;
    margin: 0;
}

html { 
    overflow-x:hidden;
    overflow-y:hidden;
}

body {
    overflow-x:hidden;
    overflow-y:hidden;
}

.fullXY {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "Microsoft YaHei",Sans-serif;
    vertical-align: baseline;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.notice-icon {
    font-size: 15px;
    text-align: left;
    color: red;
}

.tip_box {
    position: absolute;
    top: 20px;
    left: 35px;
    width: 300px;
}

.loginPage {
    text-align: center;
    padding-top: 10%;
}

.loginView {
    width: 452px;
    height: 300px;
    margin: 30px auto;
    position: relative;
    border: 1px solid rgba(255,255,255,.3);
}

.loginbox {
    width: 450px;
    height: 300px;
    border-top: 1px solid rgba(255,255,255,.3);
    background-color: rgba(0,0,0,.25);
    position: relative;
}

.login-input-name {
    width: 380px;
    height: 50px;
    background: url(../image/input_name.png) no-repeat center;
    margin-left: 33px;
    margin-top: 50px;
}

.login-input-pwd {
    width: 380px;
    height: 50px;
    background: url(../image/input_pwd.png) no-repeat center;
    margin-left: 33px;
    margin-top: 25px;
}

.login-input-btn {
    width: 380px;
    height: 50px;
    border: 1px solid #46b8da;
    background-color: #6a9196;
    margin-left: 33px;
    margin-top: 25px;
    color: #fff;
    border-radius: 3px;
    line-height: 50px;
    letter-spacing: 20px;
    font-size: 15px;
    font-weight: 700;
}

.input_class {
    margin: 15px 10px 0 15px;
    width: 250px;
    font-size: 14px;
    background: none repeat scroll 0 0 rgba(0,0,0,0);
    background-color: transparent;
    border: 0 solid #2c2c2c;
    color: #fff;
    line-height: normal;
}

.logo_icoAndEn {
    width: 330px;
    height: 65px;
    background-image: url(../image/logo_icoAndEn.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}

.logoContainer {
    width: 160px;
    height: 28px;
    margin-top: 11px;
    background: url(../image/head_logon.png) no-repeat;
}

.userportal-head {
    width: 100%;
    min-width: 1024px;
    border-bottom: 1px solid rgba(255,255,255,.3);
    background-color: rgba(0,0,0,.25);
    padding: 10px;
    color: #fff;
    font-family: Microsoft YaHei;
}

.main-widget {
    position: relative;
    clear: both;
    padding-bottom: 30px;
    width: auto;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.testli {
    display: inline-table;
    margin: 50px;
}

.desktopView {
    width: 246px;
    height: 265px;
    border: 1px solid rgba(255,255,255, 0.3);
    background-color: rgba(0, 0, 0, 0.20);
    position: relative;
}

.desktopState-bg {
    background: url(../image/desktop.png) no-repeat;
}

.desktopState {
    margin-top: 35px;
    margin-left: 55px;
    width: 135px;
    height: 135px;
    position: relative;
}

.desktopName {
    height: 43px;
    padding-top: 15px;
    text-align: center;
    color: white;
    font-family: Microsoft YaHei;
    position: relative;
}

.on {
    width : 100%;
    height : 100%;
    background: url(../image/on.png) no-repeat;
}

